.THIS #video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  height:240px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}

.THIS #photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  height:240px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}

.THIS #canvas {
  display:none;
}

.THIS .camera {
  width: 340px;
  display:inline-block;
}

.THIS .output {
  width: 340px;
  display:inline-block;
}

.THIS #startbutton {
  display:inline-block;
  position:relative;
  margin-left:60px;
  margin-right:auto;
  bottom:-10px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.THIS .contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

.THIS #clearbutton {
  display:inline-block;
  position:relative;
  margin-left:70px;
  margin-right:auto;
  bottom:-10px;
  background-color: red;
  border: 1px solid rgba(155, 155, 255, 20);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}
.THIS #savebutton {
  display:inline-block;
  position:relative;
  margin-left:60px;
  margin-right:auto;
  bottom:-10px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}